.env
node_modules/
.terraform/
awscliv2.zip
infrastructure/.terraform/
infrastructure/registry.terraform.io
infrastructure/providers
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
AWSCLIV2.pkg
aws
aws/
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate*
infrastructure/terraform.tfvars
awscliv2.zip